<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{ '/categories.html#web3' | relative_url }}">Web3</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{ '/categories.html#blockchain' | relative_url }}">Blockchain</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{ '/categories.html#photography' | relative_url }}">Photography</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{{ '/categories.html#microblog' | relative_url }}">Microblog</a>
</li>

